# train_final 파일 만들기

In [ ]:
import os
import pandas as pd
import numpy as np

import urllib.request

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train_d=pd.read_csv('/content/drive/MyDrive/데이콘영화연습대회/train_data.csv')

urllib.request.urlretrieve("https://raw.githubusercontent.com/kakaobrain/KorNLUDatasets/master/KorNLI/xnli.dev.ko.tsv", filename="xnli.dev.ko.tsv")
urllib.request.urlretrieve("https://raw.githubusercontent.com/kakaobrain/KorNLUDatasets/master/KorNLI/multinli.train.ko.tsv", filename="multinli.train.ko.tsv")
urllib.request.urlretrieve("https://raw.githubusercontent.com/kakaobrain/KorNLUDatasets/master/KorNLI/snli_1.0_train.ko.tsv", filename="snli_1.0_train.ko.tsv")
urllib.request.urlretrieve("https://raw.githubusercontent.com/kakaobrain/KorNLUDatasets/master/KorNLI/xnli.test.ko.tsv", filename="xnli.test.ko.tsv")

('xnli.test.ko.tsv', <http.client.HTTPMessage at 0x7f7d13631590>)

In [ ]:
train_k1 = pd.read_csv("xnli.dev.ko.tsv", sep='\t', quoting=3)
train_k2 = pd.read_csv("multinli.train.ko.tsv", sep='\t', quoting=3)
train_k3 = pd.read_csv("snli_1.0_train.ko.tsv", sep='\t', quoting=3)
train_k4 = pd.read_csv("xnli.test.ko.tsv", sep='\t', quoting=3)

In [ ]:

urllib.request.urlretrieve("https://raw.githubusercontent.com/KLUE-benchmark/KLUE/main/klue_benchmark/klue-nli-v1.1/klue-nli-v1.1_dev.json", filename="klue-nli-v1.1_dev.json")
urllib.request.urlretrieve("https://raw.githubusercontent.com/KLUE-benchmark/KLUE/main/klue_benchmark/klue-nli-v1.1/klue-nli-v1.1_train.json", filename="klue-nli-v1.1_train.json")

('klue-nli-v1.1_train.json', <http.client.HTTPMessage at 0x7f7d047e31d0>)

In [ ]:
train_k5 = pd.read_json('klue-nli-v1.1_dev.json')
train_k6=pd.read_json('klue-nli-v1.1_train.json')

In [ ]:
train_kk = pd.concat([train_k5,train_k6])

In [ ]:
train_kk = train_kk.drop(['guid', 'genre', 'author','label2','label3','label4','label5','source'], axis=1)

In [ ]:
train_kk.head()

                               premise  ...     gold_label
0  흡연자분들은 발코니가 있는 방이면 발코니에서 흡연이 가능합니다.  ...  contradiction
1             10명이 함께 사용하기 불편함없이 만족했다.  ...  contradiction
2             10명이 함께 사용하기 불편함없이 만족했다.  ...        neutral
3             10명이 함께 사용하기 불편함없이 만족했다.  ...     entailment
4     10층에 건물사람들만 이용하는 수영장과 썬베드들이 있구요.  ...     entailment

[5 rows x 3 columns]

In [ ]:
train_kk.rename(columns = {'gold_label':'label'},inplace=True)

In [ ]:
train_kk.head()

                               premise  ...          label
0  흡연자분들은 발코니가 있는 방이면 발코니에서 흡연이 가능합니다.  ...  contradiction
1             10명이 함께 사용하기 불편함없이 만족했다.  ...  contradiction
2             10명이 함께 사용하기 불편함없이 만족했다.  ...        neutral
3             10명이 함께 사용하기 불편함없이 만족했다.  ...     entailment
4     10층에 건물사람들만 이용하는 수영장과 썬베드들이 있구요.  ...     entailment

[5 rows x 3 columns]

In [ ]:
train_k = pd.concat([train_k1,train_k2,train_k3,train_k4],axis=0)

In [ ]:
train_k.head()

                                           sentence1  ...     gold_label
0                           그리고 그가 말했다, "엄마, 저 왔어요."  ...        neutral
1                           그리고 그가 말했다, "엄마, 저 왔어요."  ...  contradiction
2                           그리고 그가 말했다, "엄마, 저 왔어요."  ...     entailment
3  내가 무엇을 위해 가고 있는지 또는 어떤 것을 위해 있는지 몰랐기 때문에 워싱턴의 ...  ...        neutral
4  내가 무엇을 위해 가고 있는지 또는 어떤 것을 위해 있는지 몰랐기 때문에 워싱턴의 ...  ...  contradiction

[5 rows x 3 columns]

KeyError: ignored

In [ ]:
train_k.rename(columns = {'sentence1':'premise', 'sentence2':'hypothesis' ,'gold_label':'label'},inplace=True)

In [ ]:
train_k.head()

                                             premise  ...          label
0                           그리고 그가 말했다, "엄마, 저 왔어요."  ...        neutral
1                           그리고 그가 말했다, "엄마, 저 왔어요."  ...  contradiction
2                           그리고 그가 말했다, "엄마, 저 왔어요."  ...     entailment
3  내가 무엇을 위해 가고 있는지 또는 어떤 것을 위해 있는지 몰랐기 때문에 워싱턴의 ...  ...        neutral
4  내가 무엇을 위해 가고 있는지 또는 어떤 것을 위해 있는지 몰랐기 때문에 워싱턴의 ...  ...  contradiction

[5 rows x 3 columns]

In [ ]:
train=pd.concat([train_d,train_k,train_kk], axis=0)


train = train.sample(frac=1)

In [ ]:
train.head()

        index  ...          label
192369    NaN  ...     entailment
375961    NaN  ...        neutral
542770    NaN  ...     entailment
37879     NaN  ...  contradiction
326787    NaN  ...     entailment

[5 rows x 4 columns]

In [ ]:
train.drop(['index'], inplace=True)

KeyError: ignored

In [ ]:
train.to_csv("train_final.csv", index=False,encoding='utf-8')